
body{
    font-family: 'Poppins', sans-serif;
    /* background-color:#dcdcdc; */
    background-color: #d3fff8;
}


/* NAVIGATION START */

#logo_area img{
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    /* padding:5rem; */
}


#arrow_img{
    width:25%;
    margin-left:12rem;
    margin-top:38rem;
}

nav{
    position:fixed;
    width:12%;
    height:100%;
    background-color: #373f3e;
}

header nav a{
    font-size:125%;
    color:black;
    transition:600ms ease-in-out;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

header nav a:hover{
    color:#05d7bb;
}

#social_media img{
    width:35%;
    transition:800ms ease-in-out;
}

#social_media a img:hover{
    transform:rotate(360deg);
    
}

.nav_btn{
    position:relative;
}

.nav_btn::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1vh;
    background:#05F9D9;
    transform:scaleX(0);
    transform-origin:left;

    transition:600ms ease-in-out;
}
.nav_btn:hover::after{
    transform:scaleX(1);
}

.nav_btn::before{
    content:'';
    position:absolute;
    right:0;
    top:0%;
    width:100%;
    height:1vh;
    background:#05F9D9;

    transform:scaleX(0);
    transform-origin: right;

    transition:600ms ease-in-out;
}
.nav_btn:hover::before{
    transform:scaleX(1);
}

/* TOP BAR ANIMATION END */
/* NAVIGATION END */

/* MAIN PAGE START */
#name_intro .my_name{
    font-family: 'Permanent Marker', cursive;
}

.my_name{
    color:#ffffff;
    transition:500ms linear;
    
}

.my_name:hover{
    color:#00342e;
}

#welcome_page #name_intro{
    font-size: 200%;
    line-height: .8em;
    margin-bottom: 15rem;
    margin-top:14rem;
    box-shadow: 7px 7px 5px #005b4c;
    padding:3rem;
    border-radius:5rem;
    background-color: #01ecc5;
    width:90rem;
}

#welcome_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right:25rem;
    /* border:1px solid red; */
    /* padding-bottom:10rem; */
}
/* MAIN PAGE END */

/* WORK GRIDS START */
main #projects{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#projects div{
    height:45vh;
    margin-bottom:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.sec_title{
    text-align: center;
    /* text-decoration:underline; */
    margin:3%;
    margin-left:14rem;
}


main #projects .item_text{
    display:flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height:auto;
}

#projects{
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color:rgb(245, 244, 244); */
    /* border-radius: 1rem; */
    padding-left:10rem;
    /* box-shadow: 5px 5px 15px  rgb(45, 45, 45); */

}

picture img{
    filter:grayscale(100%);
    border-radius:.5rem;
    height:37vh;
    width:90%;
    transition:300ms ease-in-out;
}

picture img:hover{
    filter: grayscale(0%);
    box-shadow: 8px 8px 5px #005b4c;
    width:95%;
    height:40vh;
}


/* WORK GRIDS END */

/* ABOUT ME START */

#aboutme_sec{
    color:#01ecc5;
}

#about_me{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom:2rem;
    margin-left:29rem;
}

#about_me_section{
    background-color: #1c1c1ce5;
    padding:3rem;
}


#about_me p{
    font-size: 20px;
    text-align: center;
    padding:2rem;
    width:80%;
    line-height: 4vh;
    border-radius:1rem;
    padding:1rem;
    text-decoration: none;
    color:white;
    font-weight:700;
    width:70%;
    /* box-shadow: 7px 7px 20px  rgb(111, 111, 111); */
}

button{
    position:relative;
    margin-left:42rem;
    border:currentColor;
    background-color:#01ecc5;
    color:white;
    border-radius:1rem;
    width:10rem;
    padding:.7rem;
    font-weight: 900;
    font-size:20px;
}

button::before{
    content:'';
    position:absolute;
    right:0;
    top:0%;
    width:100%;
    height:7vh;
    background:black;

    transform:scaleX(0);
    transform-origin: left;

    transition:600ms ease-in-out;

}

button:hover::before{
    transform:scaleX(1);
    border-radius:1rem;
    color:white;
}


/* ABOUT ME END */
